<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
</head>
   <body>
      <div style="background: #D8D8D8;" align="center">
         <div style="max-width: 600px; background: #fff">
           <table style="background: #ffffff; padding: 10px 20px; width: 100%">
             <tr style="text-align: center;">
               <td align="center">
                 <div style="min-width: 200px; max-width: 200px; width: 200px;">
                   <img
                     style="width: 200px;"
                     src="https://adaptativo.pe/logo.png"
                     alt="Logo adaptativo">
                 </div>
               </td>
             </tr>
           </table>
           <div style="padding: 0 45px 20px 45px; text-align: left; color: #2D2D2D;">
             <div>
               <h2 style="color: #2D2D2D;">Registro de formulario de Congreso Internacional</h2>
               <hr>
               <h3>Contenido del registro</h3>
               <hr>
               <span>Nombre</span>
               <br>
               <span>{{.username}}</span>
               <hr>
               <span>Número</span>
               <br>
               <span>{{.phone}}</span>
             </div>
           </div>
           <div style="width: 100%; height: 5px; background: #FB2728;"></div>
         </div>
       </div>
   </body>
</html>
